{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static "Acount_app/images/icons/favicon.ico" %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "Acount_app/vendor/bootstrap/css/bootstrap.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "Acount_app/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "Acount_app/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "Acount_app/vendor/animate/animate.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "Acount_app/vendor/css-hamburgers/hamburgers.min.css" %}]">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "Acount_app/vendor/animsition/css/animsition.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "Acount_app/vendor/select2/select2.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "Acount_app/vendor/daterangepicker/daterangepicker.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "Acount_app/css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "Acount_app/css/main.css" %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('{% static 'Acount_app/images/bg-01.jpg' %}');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w" method="post">
                {% csrf_token %}
                <span class="login100-form-title p-b-53">
						Code Sended
					</span>
                {% if form.code.errors %}

                    {% for e in form.code.errors %}

                        <span class="alert alert-danger form-control text text-center">{{ e }}</span>

                    {% endfor %}

                {% endif %}

                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    {{ form.code }}
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Sign In
                    </button>
                </div>

                <div class="w-full text-center p-t-55">
						<span class="txt2">
							Not a member?
						</span>

                    <a href="#" class="txt2 bo1">
                        Sign up now
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{% static "Acount_app/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "Acount_app/vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "Acount_app/vendor/bootstrap/js/popper.js" %}"></script>
<script src="{% static "Acount_app/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "Acount_app/vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "Acount_app/vendor/daterangepicker/moment.min.js" %}"></script>
<script src="{% static "Acount_app/vendor/daterangepicker/daterangepicker.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "Acount_app/vendor/countdowntime/countdowntime.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "Acount_app/js/main.js" %}"></script>

</body>
</html>