<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <div class="message-light">
                                        <div class="massege-light-send">
                                            برای شماره همراه 09999999999 کد تایید ارسال گردید
                                            <div class="form-edit-number">
                                                <a href="#" class="edit-number-link">ویرایش شماره</a>
                                            </div>
                                        </div>
                                        <div class="account-box-verify-content">
                                            <div class="form-account">
                                                <div class="form-account-title">کد فعال سازی پیامک شده را وارد کنید</div>
                                                <div class="form-account-row">
                                                   <div class="lines-number-input">
                                                       <input type="text" class="line-number-account" maxlength="1">
                                                       <input type="text" class="line-number-account" maxlength="1">
                                                       <input type="text" class="line-number-account" maxlength="1">
                                                       <input type="text" class="line-number-account" maxlength="1">
                                                       <input type="text" class="line-number-account" maxlength="1">
                                                   </div>
                                               </div>
                                            </div>
                                        </div>
                                        <div class="form-account-row">
                                            <div class="receive-verify-code">
                                                <p id="countdown-verify-end"><span class="day">0</span><span class="hour">0</span><span>: 2</span><span>58</span>
                                                <i class="fa fa-clock-o"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="account-footer">
                                            <div class="account-footer">
                                                <div class="form-row-account">
                                                    <button class="btn btn-primary btn-login">ثبت‌نام در دیجی‌اسمارت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>